<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Home Pod Mini</string>
	<string>Apple Watch</string>
	<string>iMac</string>
	<string>Apple</string>
	<string>iPhone</string>
	<string>Air Pods</string>
	<string>iPad</string>
	<string>iPod</string>
	<string>Mac Mini</string>
</array>
</plist>
