<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Air Conditioners</string>
	<string>Mobile Phones</string>
	<string>LED TV</string>
	<string>Aata Maker</string>
	<string>Referigrator</string>
	<string>GenSets</string>
	<string>Electric</string>
	<string>Electronics</string>
	<string>Washing Machines</string>
</array>
</plist>
